// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bd-violet: #5156be;
$bd-violet-rgb: rgb(81, 86, 190); 
$bs-white: #ffffff;
